body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  flex: auto;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(sw.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 10px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.jelajahi {
  background-color: #239b76;
  margin-right: 10px;
}

.tentang {
  background-color: #239b76;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  /* Ubah z-index ke 10 */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right a{
  display: flex;
  flex: auto;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.daftar:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
}

.daftar {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}

.heading {
  border-bottom: 2px solid #dee7ec;
  padding-top: 30px;
  padding-bottom: 15px;
  color: #5f5d60;
  margin-bottom: 50px;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
  flex-wrap: wrap;
}

.lesson-icon {
  position: relative;
  opacity: 0.8;
  display: box;
  flex: auto;
}

.lesson-icon:hover{
  opacity: 1;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.detail {
  padding: 5px 10px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.detail:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}


.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

@media screen and (max-width: 960px){
  .header{
    position: inherit;
  }

  .lesson-wrapper{
    width: 80%;
    margin: 25px auto;
  }
}

